@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./root.css');
@import url('./navbar.css');
@import url('./note.css');
@import url('./note-detail.css');
@import url('./note-form.css');

* {
  padding: 0;
  margin: 0;
}

html {
  scrollbar-width: none;

}

html::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  grid-area: nav;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right bottom, #070F2B, #1B1A55);
  min-height: 100vh;
  color: #E2E2E2;
}

main {
  grid-area: note;
  width: 100%;
  height: 100%;
}

aside {
  grid-area: form;
  height: 100%;
  overflow: hidden;
}

#root {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 0fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "nav nav" "note form";
  align-items: center;
  flex-direction: column;
  transition: all 300ms ease-in-out;
}

#root:has(aside.active) {
  grid-template-columns: 1fr .25fr;
  gap: 0 1rem;
}

@media(max-width: 700px) {
  :root {
    --button-size: 33px;
  }

  .search {
    width: 12rem;
  }
}

@media(max-width: 500px) {
  html {
    font-size: 80%;
  }
  #root {
    padding: .5rem;
  }
}

  @media(max-width: 350px) {
    html {
      font-size: 70%;
    }
    #root {
      padding: .5rem;
    }
  }
