@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --first-color: #070F2B;
  --second-color: #1B1A55;
  --third-color: #535C91;
  --fourth-color: #9290C3;
}

